/* Reset some default styles */
body, h1, h2, p, div, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 0px 5%;
    background-color: #3e8181;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar h1 {
    font-size: 2rem; /* Increase font size for the title */
}

.github-button {
    display: flex;
    padding: 10px 15px; /* Increase padding */
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #fff;
}

.github-button:hover {
    border: 1px solid #333;
    color: #333;
}
i{
    font-size: 25px;
}
.nav-elements{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
li{
    list-style-type: none;
}

.nav-elements li:hover{
    color: #333;
}

.Search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f0f0;
}

.generate-QR {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3e8181;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .navbar h1 {
        font-size: 1.5rem;
    }

    .github-button {
        border: 0;
        outline: 0;

    }
    .github-button:hover, .github-button:focus {
        border: 0;
        outline: 0;
    }

    .github-text {
        display: none;
    }
    i{
     font-size: 30px;   
    }

    .generate-QR {
        width: 90%;
    }

    .Search-bar {
        align-items: center;
    }

    .Search-bar, .your-qr {
        padding: 10px;
    }
}
