/* Reset some default styles */
body, h1, h2, p, div, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

a {
    text-decoration: none;
}

.navbar{
    height:150px;
    background-image: linear-gradient(90deg, rgb(193, 193, 193),rgb(107, 107, 107)),linear-gradient(157.5deg, rgb(0, 165, 230) 0%, rgb(0, 165, 230) 39%,rgb(17, 149, 218) 39%, rgb(17, 149, 218) 56%,rgb(35, 132, 206) 56%, rgb(35, 132, 206) 60%,rgb(52, 116, 195) 60%, rgb(52, 116, 195) 68%,rgb(70, 99, 183) 68%, rgb(70, 99, 183) 86%,rgb(87, 83, 171) 86%, rgb(87, 83, 171) 100%),linear-gradient(135deg, rgb(0, 165, 230) 0%, rgb(0, 165, 230) 39%,rgb(17, 149, 218) 39%, rgb(17, 149, 218) 56%,rgb(35, 132, 206) 56%, rgb(35, 132, 206) 60%,rgb(52, 116, 195) 60%, rgb(52, 116, 195) 68%,rgb(70, 99, 183) 68%, rgb(70, 99, 183) 86%,rgb(87, 83, 171) 86%, rgb(87, 83, 171) 100%); background-blend-mode:overlay,overlay,normal;
}

.navbar h1 {
    font-size: 50px; /* Increase font size for the title */
    position: relative;
    top:60px;
    left:50px;
}

.github-button {
    display: flex;
    padding: 10px 15px; /* Increase padding */
    border-radius: 3px;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: #fff;
    position: relative;
    left:1200px;
}
li{
    position: relative;
    left:1190px;
}

.github-button:hover {
    border: 1px solid #333;
    color: #333;
}
i{
    font-size: 25px;
}
.nav-elements{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
li{
    list-style-type: none;
}

.nav-elements li:hover{
    color: #333;
}

.Search-bar {
    height:650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
   /* background-image: linear-gradient(90deg, rgb(15, 15, 15),rgb(119, 119, 119)),linear-gradient(67.5deg, rgb(61, 40, 216) 0%, rgb(61, 40, 216) 19%,rgb(55, 42, 182) 19%, rgb(55, 42, 182) 27%,rgb(49, 44, 147) 27%, rgb(49, 44, 147) 37%,rgb(42, 46, 113) 37%, rgb(42, 46, 113) 48%,rgb(36, 48, 78) 48%, rgb(36, 48, 78) 73%,rgb(30, 50, 44) 73%, rgb(30, 50, 44) 100%),linear-gradient(0deg, rgb(61, 40, 216) 0%, rgb(61, 40, 216) 19%,rgb(55, 42, 182) 19%, rgb(55, 42, 182) 27%,rgb(49, 44, 147) 27%, rgb(49, 44, 147) 37%,rgb(42, 46, 113) 37%, rgb(42, 46, 113) 48%,rgb(36, 48, 78) 48%, rgb(36, 48, 78) 73%,rgb(30, 50, 44) 73%, rgb(30, 50, 44) 100%),linear-gradient(22.5deg, rgb(61, 40, 216) 0%, rgb(61, 40, 216) 19%,rgb(55, 42, 182) 19%, rgb(55, 42, 182) 27%,rgb(49, 44, 147) 27%, rgb(49, 44, 147) 37%,rgb(42, 46, 113) 37%, rgb(42, 46, 113) 48%,rgb(36, 48, 78) 48%, rgb(36, 48, 78) 73%,rgb(30, 50, 44) 73%, rgb(30, 50, 44) 100%); background-blend-mode:overlay, overlay, overlay, normal;
    */
    background-image: linear-gradient(90deg, rgb(209, 209, 209),rgb(207, 207, 207)),linear-gradient(45deg, rgb(177, 223, 206) 0%, rgb(177, 223, 206) 46%,rgb(147, 192, 214) 46%, rgb(147, 192, 214) 56%,rgb(117, 162, 222) 56%, rgb(117, 162, 222) 61%,rgb(86, 131, 229) 61%, rgb(86, 131, 229) 64%,rgb(56, 101, 237) 64%, rgb(56, 101, 237) 82%,rgb(26, 70, 245) 82%, rgb(26, 70, 245) 100%),linear-gradient(135deg, rgb(177, 223, 206) 0%, rgb(177, 223, 206) 46%,rgb(147, 192, 214) 46%, rgb(147, 192, 214) 56%,rgb(117, 162, 222) 56%, rgb(117, 162, 222) 61%,rgb(86, 131, 229) 61%, rgb(86, 131, 229) 64%,rgb(56, 101, 237) 64%, rgb(56, 101, 237) 82%,rgb(26, 70, 245) 82%, rgb(26, 70, 245) 100%); background-blend-mode:overlay,overlay,normal;
   position:relative;


}

.generate-QR {
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: wheat;
    border-radius: 2rem;

    
}

.generate-QR:hover{
    width:600px;
    height:80px;
   border-color:black;
   transition: all,0.3s,ease-in-out,1s;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size:30px;
}


.Search-bar button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3e8181;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position:relative;
    top:100px;
    height:80px;
    width:80px;
}
.Search-bar button:hover{
    height: 120px;
    width:120px;
    transition:all,0.2s,linear,0.3s;

}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .navbar h1 {
        font-size: 1.5rem;
    }

    .github-button {
        border: 0;
        outline: 0;

    }
    .github-button:hover, .github-button:focus {
        border: 0;
        outline: 0;
    }

    .github-text {
        display: none;
    }
    i{
     font-size: 30px;   
    }

    .generate-QR {
        width: 90%;
    }

    .Search-bar {
        align-items: center;
    }

    .Search-bar, .your-qr {
        padding: 10px;
    }
}

.home i{
    height:50px;
    width: 50px;
    position: relative;
    right:30px;
    bottom:20px;
    

}
.h1{
    position:relative;
    left:0px;
    top:20px;

    color: #fff;

}
.contact i{
    position:relative;
    right:39px;
    bottom:40px;

}
.about i{
    position:relative;
    right:40px;
    bottom:40px;
}
.h2{
    color: #fff;
}
.your{
    height:100px;
    width:500px;
    background-color: transparent;
    color:black;
    position:relative;
    left:600px;
    bottom:70px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

